body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: aquamarine;
    color: beige;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
}