* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: darkslategrey;
    color: beige;
    text-decoration: underline;
}

.portfolioTitle {
    background-color: darkslategrey;
    color: beige;
}

figure {
    margin-top: 0px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
}

#headerOption {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    text-decoration: underline;
}

aside {
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    color: blue;
}